.video-wrapper {
    position: relative;
    video {
        width: 100%;
    }
    canvas {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}
.info-wrapper {
    display: flex;
    padding: 10px;
    align-items: center;
    .buttons {
        display: flex;
        align-items: center;
        padding: 10px;
        button.ant-btn {
            padding: 0;
            width: 32px;
            height: 32px;
            text-align: center;
            margin-right: 8px;
            outline: 0;
            border: none;
            box-shadow: none;
        }
    }
}