// @import '~antd/dist/antd.css';

.llm-toolbar {
  background-color: #363C4C;
  width: 100%;
  height: 36px;
  margin-bottom: 24px;
  padding: 0 8px;
  display: flex;
  align-items: center;

  .llm-tool-bar-operate {
    margin-left: 6px;
    height: 100%;
    display: flex;

    .divider {
      width: 1px;
      height: 100%;
      background-color: #212633;
      margin: 0 2px;
    }

    .icon-button {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 6px;
      font-size: 24px;
      color: rgba(255, 255, 255, 0.9);
      -webkit-user-select: none;
      user-select: none;
    }
  }
}

.demo-layout {
  width: 100%;
  max-width: 1280px;
  height: calc(100% - 84px);
  overflow: hidden;
  background-color: #FFFFFF;
  border: 1px solid #CFD5E5;
  color: #363C4C;
  display: flex;
  flex-direction: column;
  position: relative;
  // padding-left: 400px;

  .llm-side-panel {
    // position: absolute;
    // left: 0;
    // top: 0;
    width: 640px;
    height: 100%;
    border-right: 1px solid #CFD5E5;
    overflow-y: auto;
  }

  .llm-main-content {
    flex: 1;
    overflow-y: auto;
  }

  .llm-input-area {
    height: 280px;
    border-top: 1px solid #CFD5E5;
  }
}

@media (max-width: 720px) {
  .demo-layout {
    padding-left: 240px;
    .llm-side-panel {
      width: 240px;
    }
  }
}

@media (max-width: 540px) {
  .demo-layout {
    padding-left: 0px;
    .llm-side-panel {
      order: 1;
      position: relative;
      width: 100%;
      height: fit-content;
      border-right: none;
      border-bottom: 1px solid #CFD5E5;
    }
    .llm-main-content {
      order: 2;
    }
    .llm-input-area {
      order: 3;;
    }
  }
}

.ant-btn.ant-btn-default {
  &:hover {
    border-color: #4A90E2;
    color: #4A90E2;
  }
}
.ant-btn.ant-btn-primary {
  background-color: #4A90E2;
  border-color: #4A90E2;
}
