.demo-layout .sidebar {
  float: left;
  width: 100%;
  // position: relative;

  .scroller {
    height: 100%;
  }

  .panel-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  .annotation-result-panel {
    width: 100%;
    padding: 10px;
  }

}
